// ---------------------- IMPORT FONT ----------------------
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');


// COLOR
$primary: #6b8e4e;
$secundary: #000000;
$outer: #181818;
$geyser: #d5dddf;
$white: #ffffff;
$gradient: linear-gradient(#6b8e4e, #000000);
$gradientLigth: linear-gradient(#6b8e4e,#6b8e4e, #ffffff);

// FONT
$fontBody: 'Forum', cursive;

// SIZE FONT

$sizeBiger1: 7.2rem;
$sizeBiger2: 5.6rem;
$sizeBiger3: 4rem;

$sizeMedium1: 2.8rem;
$sizeMedium2: 2.2rem;
$sizeMedium3: 1.6rem;

$sizeSmall1: 1.3rem;
$sizeSmall2: 1rem;





